
.product {
  margin: 1em 0.5em;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.product .ant-card-body {
  padding: 0;
  width: 100%;
}

.product.ant-card-hoverable:hover {
  border-color: #d5d5d5;
  transform: scale(1.1);
}

.product-image {
  height: 200px;
  width: 100%;
}
.product-image img {
  object-fit: cover;
  object-position: top;
  display: block;
  height: 100%;
  width: 100%;
}

.product-info {
  width: 100%;
  text-align: left;
}

.product-info-text,
.product-info-utility {
  padding: 0.5em 1em;
}

.product-title {
  font-size: 1em;
  font-weight: 700;
}

.product-cost {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0px;
}

.product-rating {
  font-size: 1em;
}

.product-category {
  color: #909090;
}
